.App{
    height: 100vh;
    background-color: #100210;
    background-image: url(imagenes/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-calculadora{
    width: 400px;
    height: 600px;
    padding: 14px;
    /*background-color: lightslategray;*/
    border-radius: 20px;
    border: 5px solid white;
}

.fila{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}